<div class="followit-subscribe-form">
  <form action="https://api.follow.it/subscription-form/WlJBeEFnOWNIR25MN2ZuVkJQTkd5R2EzaGMzYlU0WE9uTVYxM212SFVLc0M2cE8yZkJDcGZsRndXc2dlS1JVRGVFRVN0a1VVNDBPV1pyR21YV2x1YWRtTW1BNkZuRkZST1BFNlNSbkNOdGQyQzhERXczRXBERGFDbVhUUnFUUUZ8SzNYaUVxLzNtbllMSnc5N3JZQUVkeWt5Q0VKanlLYUQ3ZFE1Nnk5VjZXUT0=/8" method="post">
    <div class="followit-form-inner">
      <h5>Get new posts by email:</h5>
      <input type="email" name="email" required placeholder="Enter your email" spellcheck="false">
      <button type="submit">Subscribe</button>
    </div>
  </form>
</div>
